/* Common styles for category items */
.category-item-link {
  text-decoration: none;
  color: inherit;
}

.category-item-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add spacing between list items */
  padding: 10px; /* Adjust padding for content within container */
}

.category-item-image {
  width: 90%;
  height: auto;
  border-radius: 8px;
}

.category-item-title {
  font-size: 16px;
  font-weight: bold;
}

/* Specific styles for CategoriesList component */
.categories-list-container {
  display: grid;
  grid-template-columns: repeat(
    5,
    minmax(200px, 1fr)
  ); /* Adjust for items per row */
  gap: 20px;
  background-color: black;
  color: white;
  padding: 20px;
}

/* Adjust margin on the left side */
.categories-list-container {
  margin-left: 10%;
}
